.calendar {

}

.calendarWeekWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.calendarWeek {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.calendarDay {
  flex: 1;
  flex-basis: 100px;
  border-width: 1px;
  border-style: solid;
  min-height: 100px;
}

.calendarEvent {
  background-color: gray;
}