.calendar {
  display: flex;
  flex-direction: column;
}

.calendarWeek {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.calendarDay {
  min-height: 100px;
  min-width: 100px;
  border-width: 1px;
  border-style: solid;
}

.calendarEvent {
  background-color: gray;
}