.body {
  padding-top: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
}

.title {
  flex: 1;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  pointer-events: none;
}

.modal {
  background-color: var(--component-bg-color);
  /* min-width: 500px; */
  max-width: 100vw;
  min-height: 100px;
  max-height: 90vh;
  border-radius: 15px;
  padding: 15px;
  pointer-events: all;
  overflow: scroll;
  opacity: 1;
  transition: opacity 150ms;
  transition-timing-function: ease;
}

.smallScreen .modal {
  height: calc(100vh - 20px);
  width: 100vw;
  max-height: 100vh;
  align-self: end;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateY(0vh);
  transition: transform 250ms;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 150ms;
  transition-timing-function: ease;
}

.overlay.smallScreen {
  transition: opacity 500ms;
}

.overlay.hidden {
  opacity: 0;
}

.modal.hidden {
  opacity: 0;
}

.smallScreen .modal.hidden {
  transform: translateY(100vh);
  opacity: 1;
}