.body {
  padding-top: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.modal {
  background-color: var(--component-bg-color);
  min-width: 500px;
  min-height: 100px;
  max-height: 90vh;
  border-radius: 15px;
  padding: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}