.body {
  padding-top: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  pointer-events: none;
}



.modal {
  background-color: var(--component-bg-color);
  /* min-width: 500px; */
  max-width: 100vw;
  min-height: 100px;
  max-height: 90vh;
  border-radius: 15px;
  padding: 15px;
  pointer-events: all;
  overflow: scroll;
}

.smallScreen .modal {
  height: 96vh;
  width: 100vw;
  align-self: end;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}