.body {
  padding-top: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  pointer-events: none;
}



.modal {
  background-color: var(--component-bg-color);
  /* min-width: 500px; */
  max-width: 100vw;
  min-height: 100px;
  max-height: 90vh;
  border-radius: 15px;
  padding: 15px;
  pointer-events: all;
  overflow: scroll;
  animation-name: fadeIn;
  animation-duration: 200ms;
}

.smallScreen .modal {
  height: calc(100vh - 20px);
  width: 100vw;
  max-height: 100vh;
  align-self: end;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  animation-name: slideUp;
  animation-duration: 200ms;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: fadeIn;
  animation-duration: 200ms;
}

.title {
  flex: 1;
}

.overlay.closing {
  animation-name: fadeOut;
  animation-duration: 100ms;
}
.smallScreen.overlay.closing {
  animation-name: fadeOut;
  animation-duration: 200ms;
}

.modal.closing {
  animation-name: fadeOut;
  animation-duration: 100ms;
}

.smallScreen .modal.closing {
  animation-name: slideDown;
  animation-duration: 200ms;
}
@keyframes slideDown {
  0%   {transform: translateY(0vh); }
  25%  {transform: translateY(25vh); }
  50%  {transform: translateY(60vh); }
  100% {transform: translateY(100vh);}
}

@keyframes fadeOut {
  0%   {opacity: 1 }
  25%  {opacity: .8 }
  50%  {opacity: .6 }
  100% {opacity: 0 }
}

@keyframes slideUp {
  0%   {transform: translateY(100vh)}
  25%  {transform: translateY(60vh)}
  50%  {transform: translateY(25vh)}
  100% {transform: translateY(0vh)}
}

@keyframes fadeIn {
  0%   {opacity: 0 }
  25%  {opacity: .6 }
  50%  {opacity: .8 }
  100% {opacity: 1 }
}