.textInput {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--text-color);
  background-color: var(--component-bg-color);
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  padding: .5rem;
}
.inline {
  flex-direction: row;
}
.label {
  margin-right: 10px;
  margin-bottom: 20px;
}
.errorMessage {
  color: var(--danger-color);
  align-self: flex-end;
}
