.footer {
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid var(--border-color);
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
  }

  .pageWrapper {
    padding: 0;
    background-color: var(--bg-color);
  }

  .webMain {
    /* padding: 1rem 1rem; */
    flex: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    overflow-x: hidden;
  }

  .webContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
  }


  /*
   MOBILE CSS
  */
  .mobileContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: transform 350ms;
    transition-timing-function: ease;
  }

  body[data-portal="1"] .mobileContainer {
    transform: scaleX(.96) translateY(1.5vh);

  }

  .mobileMain {
    padding: 50px 0;
    flex: 1;
    overflow-x: hidden;
  }

  .tabBar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex: 1;
    height: 50px;
    background-color: var(--bg-color);
  }

  .mobileHeader {
    background-color: var(--bg-color);
  }