:root {
  --dark-color: #333333;
  --light-color: #e3f5fc;
}

body[data-theme="theme-light"] {
  --primary-color: #0072a3;
  --text-color: var(--dark-color);
  --basic-color: var(--dark-color);
  --bg-color: var(--light-color);
  --component-bg-color: #ffffff;
  --danger-color: rgb(250, 62, 62);
  --warn-color: rgb(255, 215, 70);
  --action-color: rgb(0, 115, 255);
  --success-color: rgb(7, 193, 72);
  --border-color: rgb(189, 189, 189);
}
body[data-theme="theme-dark"] {
  --primary-color: #49afd9;
  --text-color: var(--light-color);
  --basic-color: var(--light-color);
  --bg-color: var(--dark-color);
  --component-bg-color: #22343c;
  --danger-color: rgb(250, 62, 62);
  --warn-color: rgb(255, 215, 70);
  --action-color: rgb(0, 115, 255);
  --success-color: rgb(7, 193, 72);
  --border-color: rgb(26, 26, 26);
}

.basic-color {
  color: var(--text-color)
}

.warn-color {
  color: var(--warn-color)
}

.danger-color {
  color: var(--danger-color)
}

.success-color {
  color: var(--success-color)
}

.action-color {
  color: var(--action-color)
}

.primary-color {
  color: var(--primary-color)
}

.disabled {
  filter: opacity(0.5);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  transition: color 100ms linear;
  transition: background-color 100ms linear;
}