#__next[data-theme="theme-light"] {
  --primary-color: #0072a3;
  --text-color: #333333;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --danger-color: rgb(250, 62, 62);
  --warn-color: rgb(255, 215, 70);
}
#__next[data-theme="theme-dark"] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --bg-color: #1b2a32;
  --component-bg-color: #22343c;
  --danger-color: rgb(250, 62, 62);
  --warn-color: rgb(255, 215, 70);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  transition: color 100ms linear;
  transition: background-color 100ms linear;
}